<div class="page-container">
  <div class="toolbar">
    <h1 class="page-title">กำหนดกะการทำงาน (ช่วงเวลาลงเวลา / OT)</h1>
    <div class="toolbar-actions">
      <button mat-raised-button color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
        เพิ่มกะการทำงาน
      </button>
    </div>
  </div>

  <app-responsive-table [columns]="columns" [data]="shifts()" [trackByFn]="trackById">
    <ng-template #desktopRow let-shift>
      <tr>
        <td>{{ shift.name }}</td>
        <td>{{ daysSummary(shift) }}</td>
        <td>{{ checkinLabel(shift) }}</td>
        <td>{{ lateCutoffLabel(shift) }}</td>
        <td>{{ checkoutLabel(shift) }}</td>
        <td>{{ otLabel(shift) }}</td>
        <td class="actions-cell">
          <button mat-icon-button matTooltip="แก้ไข" (click)="openEditDialog(shift)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="ลบ" color="warn" (click)="deleteShift(shift)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template #cardRow let-shift>
      <div class="card-title">{{ shift.name }}</div>
      <div class="card-field"><span>วันที่ใช้งาน:</span> {{ daysSummary(shift) }}</div>
      <div class="card-field"><span>เข้างาน:</span> {{ checkinLabel(shift) }}</div>
      <div class="card-field"><span>สายได้ถึง:</span> {{ lateCutoffLabel(shift) }}</div>
      <div class="card-field"><span>ออกงาน:</span> {{ checkoutLabel(shift) }}</div>
      <div class="card-field"><span>OT:</span> {{ otLabel(shift) }}</div>
    </ng-template>

    <ng-template #cardActions let-shift>
      <button mat-icon-button matTooltip="แก้ไข" (click)="openEditDialog(shift)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="ลบ" color="warn" (click)="deleteShift(shift)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </app-responsive-table>
</div>
